HELP.md
/.mvn/wrapper/maven-wrapper.jar
target/
logs/
tmp/
!server/src/main/**/target/
!client/src/test/**/target/
version.txt

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.ipr
*.iml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!server/src/main/**/build/
!client/src/test/**/build/

### VS Code ###
.vscode/

### Maven auth manipulation ###
bindings/maven/settings.xml

### Open API client generation ###
**/openapitools.json
/etc/client_gen/generated_client/**
!/etc/client_gen/generated_client/.openapi-generator-ignore
ia-resources/
